
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0950d; 
    color: #000000; 
  }
  
  /* Dark Mode Styles */
  body.dark {
    background-color: #05061f; 
    color: #E68369; 
  }
  
 
  .dark .bg-gray-800 {
    background-color: #05061f; 
  }
  
  .dark .text-white {
    color: #E68369; 
  }
  
  .dark .text-black {
    color: #000000; 
  }
  
  .dark .border-gray-800 {
    border-color: #31336b; 
  }
  
  .dark .bg-black {
    background-color: #05061f; 
  }
  
  .dark .text-blue-500 {
    color: #31336b; /* Dark mode link color */
  }
  
  .dark .hover\:text-blue-600:hover {
    color: #31336b; /* Dark mode link hover color */
  }
  
 
  @layer base {
    
    .dark .bg-gray-800 {
      background-color: #05061f;
    }
  
    .dark .text-white {
      color: #E68369;
    }
  
    .dark .text-black {
      color: #000000;
    }
  
    .dark .border-gray-800 {
      border-color: #31336b;
    }
  
    /* Example dark mode background colors */
    .dark .bg-gray-900 {
      background-color: #1F1F1F;
    }
  
    .dark .bg-gray-700 {
      background-color: #2E2E2E;
    }
  
    /* Dark mode color utilities */
    .dark .text-gray-100 {
      color: #E0E0E0;
    }
  
    .dark .text-gray-300 {
      color: #B0B0B0;
    }
  
    .dark .text-gray-500 {
      color: #6D6D6D;
    }
  
    /* Dark mode transition styles */
    .transition-all {
      transition: all 0.3s ease;
    }
  }
  